<%- include('includes/head.ejs') %>
</head>
<%- include('includes/navigation.ejs') %>

    <h1>Login</h1>
    <br>
    <form action="/login" method="POST">
        <input type="text" placeholder="email" name="username">
        <br>
        <br>

        <input type="password" name="passw" placeholder="enter password">
        <br>
        <br>
        <button type="submit">login</button>

        
    </form>
    <br>
    <br>
    
    <div>
        <a href="/reset">Forgot Password ?</a>
    </div>
</body>
</html>