<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
</head>
<%- include('includes/navigation.ejs') %>
    <form action="/register" method="post">
        <input type="text" placeholder="your name on the platform" name="shownName">
        <br>
        <br>
        <input type="text" placeholder="email" name="username">
        <br>
        <br>
        

        <input type="password" name="passw" placeholder="enter password">
        <br>
        <br>
        
        <input type="password" name="passwc" placeholder="confirm password">
        <br>
        <br>
        
        <button type="submit">Register</button>

        
    </form>





    <h3><%=message%></h3>
</body>
</html>