<%- include('includes/head.ejs') %>
</head>
<%- include('includes/navigation.ejs') %>

    <h1>Reset Password</h1>
    <br>
    <form action="/reset" method="POST">
        <input type="text" placeholder="email" name="email">
        <br>
        <br>
    <button type="submit">Reset</button>
    </form>
</body>
</html>