.topnav a:hover {
    border-bottom: 3px solid red;
}

.loj{
    font-size: 2rem;
    background-color: lightgray;
    color: white;
    padding: 5px;
    margin: 2px;
    text-decoration: none;
}

.loj:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}